<!DOCTYPE html>
<html>
    <head>
        <title>Blogz</title>
        <link rel="stylesheet" href="{{url_for('static', filename='CSS/style.css')}}" />
    </head>
    <body>
        <nav>
            <ul id ="user-account">
                <li><a href= "/login"><strong>Login</strong></a></li>
                <li><a href= "/logout"><strong>Logout</strong></a></li>
            </ul>

            <ul>
                <li><a href= "/"><strong>Home</strong></a></li> 
                <li><a href= "/blog"><strong>All Posts</strong></a></li> 
                <li><a href= "/newpost"><strong>Create New Post</strong></a></li>
            </ul>

           
        </nav>
        <hr/>
        {%block content%}
        {%endblock%}
    </body>
</html>
